/* Navbar.css */
.navbar a {
    color: black;
    font-weight: normal;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Added box-shadow property */
    padding: 8px; /* Add padding as needed */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow initially */
}

.navbar-link:hover {
    background-color: hsl(0, 0%, 90%);
    transform: translateY(-4px); /* Adjust the vertical translation as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a slight inset shadow on hover */
}

.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo {
    flex: 1;
    display: flex;
    align-items: center; /* Center the content vertically */
}

.nav-logo-image {
    width: 40px; /* Set the width of the image as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Adjust the margin as needed */
}


.nav-links {
    flex: 3; /* Take up as much space as possible */
    display: flex;
    gap: 2rem;
    justify-content: center; /* Center the content horizontally */
}

.nav-right-links {
    flex: 1; /* Adjust the size accordingly */
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    gap: 1rem;
}

.nav-buttons {
    display: flex;
    gap: 2rem;
}
