/* TestimonialCard.css */

.testimonial-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.05); /* Transparent background */
    border: 1px solid #000; /* Black border outline */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 10px;
    width: 350px;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.profile-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.author {
    flex: 1;
    font-size: 1.1rem;
    font-weight: 800;
}

.testimonial-text {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}
